@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
    min-height: 100vh;
}

.app--backdrop {
    background: center / cover no-repeat url("./images/pattern-bg.png");
    height: 300px;
    width: 100%;
}

.main--map {
    width: 100%;
    height: calc(100vh - 300px);
}

@media (min-width: 768px) {
    .app--backdrop {
        height: 280px;
    }

    .main--map {
        height: calc(100vh - 280px);
    }
}